# Database Configuration
MONGODB_URI=mongodb://mongodb:27017/easyshop

# Redis Configuration
REDIS_URI=redis://redis:6379

# App URLs
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Authentication Secrets (generate your own, do not reuse these examples)
# openssl rand -base64 32
NEXTAUTH_SECRET=
# openssl rand -hex 32
JWT_SECRET=
